.error-container {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
  
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}

.error-close-button {
    background-color: #ff0000;
    border: none;
    border-radius: 5%;
    color: #fff;
}