<div class="channels-card">
    <h2 class="channels-card-title">
      <span>Channels </span>
      <app-channel-management></app-channel-management>
    </h2>         
    
    <ul class="channels-card-list">
      @for (channel of channels; track channel.id) {
      <li class="channels-card-item">
        <button class="button button-channel" (click)="onSelectChannel(channel)"
          [ngClass]="{'selected-channel': channel.id === selectedChannel?.id}">
          <span class="channels-card-name" [ngStyle]="{'color': channel.color}">{{ channel.name }}</span>
          <span class="channels-card-users">({{ channel.users.length }} users)</span>
        </button>
        @if (currentUser && currentUser.id === channel.ownerId) {
        <span class="channels-card-edit">
          <app-channel-management [channel]="channel" [isEditMode]="true">
          </app-channel-management>
        </span>
        }
      </li>
      }
    </ul>
  </div>