.channels-card-title {
    font-size: 24px;
    margin-bottom: 20px;
}
.channels-card-name {
    text-shadow: 1px 1px 1px black;
}

.channels-card-list {
    list-style-type: none;
    padding: 0;
}

.channels-card-item {
    margin-bottom: 10px;
    display: flex; 
    align-items: center;
}

.channels-card-item .button-channel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
}

/* Ensures wrapping */
.channels-card-item .button-channel > * {
    flex: 1 1 auto;
    max-width: 100%;
}