<!-- Modals -->
<app-error-display [error]="currentError"></app-error-display>

@if (currentUser === null) {
<app-user-login></app-user-login>
}
@if (currentUser !== null) {
<div class="app-container">
  <div class="app-sidebar">
    <app-channel-list [channels]="channels" [selectedChannel]="selectedChannel"
      (selectChannel)="selectChannel($event)"></app-channel-list>
  </div>
  <div class="app-content">
    <div class="app-header">
      <div class="app-header-left">
        @if (selectedChannel) {
        <app-user-list [users]="selectedChannel.users"></app-user-list>
        }
      </div>
      <div class="app-header-right">
        <div class="app-header-right-top">
          <div> Current user: {{currentUser.name}}</div>
        </div>
        <div class="app-header-right-bottom">
          <app-user-profile [user]="currentUser"></app-user-profile>
          <app-user-logout [currentUser]="currentUser" (logout)="logout()"> </app-user-logout>
        </div>  
      </div>
    </div>
    <div class="app-chat-container">
      @if (selectedChannel) {
      <app-chat [channel]="selectedChannel" [user]="currentUser"></app-chat>
      }
    </div>
  </div>
</div>
}