<button class="button button-profile" (click)="openModal()">Edit Profile</button>

@if (showModal && user) {
<div class="modal-container">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Edit Profile</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="username">Username (uneditable)</label>
      <input type="text" id="username" name="username" [(ngModel)]="user.name" readonly>

      <label for="color">Pick a new color</label>
      <select id="color" name="color" [(ngModel)]="user.color" [selectedIndex]="allowedColors.indexOf(user.color)">
        @for (color of allowedColors; track color) {
          @if(color === user.color) {
            <option [value]="color" selected>{{ color }}</option>
          } @else {
            <option [value]="color">{{ color }}</option>
          }
        }
      </select>
      <button type="submit">Save Changes</button>
    </form>
  </div>
</div>
}