.auth-container,
.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-login {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-login:hover {
  background-color: #0056b3;
}

.auth-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-form form {
  display: flex;
  flex-direction: column;
}

.auth-form label {
  margin-bottom: 5px;
  color: #fff;
  font-size: 14px;
}

.auth-form input[type="text"],
.auth-form input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
}

.auth-form input[type="text"]::placeholder,
.auth-form input[type="password"]::placeholder {
  color: #aaa;
}

.button-submit {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-submit:hover {
  background-color: #218838;
}
