<div class="auth-container">

  <div class="auth-form">
    <form (submit)="onLogin()">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="newUser.name" name="name" required />

      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="newUser.password" name="password" required />

      <button class="button button-submit" type="submit">Login</button>
      <button class="button button-register" type="button" (click)="onRegister()">
        Register as new user
      </button>
    </form>
  </div>
</div>
