.user-list p {
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
}

.user-list ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    flex-wrap: wrap; 
}

.user-list li {
    margin-right: 15px; 
    background-color: #464040; 
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #dddddd; 
    text-shadow: 1px 1px 1px black;
}
